<div class="banner">
  <div class="overlay">
    <app-navbar></app-navbar>

    <div class="content">
      <h1>All Your Interior Solution</h1>
      <h3>"Everything is designed. Few things are designed well."</h3>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="animated-text">
    <h1 class="text-center"><span class="auto-type"></span></h1>
  </div>

  <!-- Swiper Widget  -->

  <section>
    <swiper-container
      class="mySwiper"
      loop="true"
      pagination="false"
      effect="coverflow"
      grab-cursor="false"
      centered-slides="true"
      slides-per-view="auto"
      coverflow-effect-rotate="50"
      coverflow-effect-stretch="0"
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="true"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
      routerLink="/projects"
    >
      <swiper-slide *ngFor="let gd of galleryData; index as i">
        <div class="overlay-one">
          <img src="{{ gd.img }}" />
          <!-- <a class="swiperBtn" [routerLink]="['/home',gd.id]"><img src="{{ gd.img }}" /></a> -->
          <span>{{ gd.imgName }}</span>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <div class="box row">
    <h1 class="text-center">What Do WE Offer</h1>
    <!-- One -->
    <div class="col-lg-4 mt-5">
      <div class="shadowBox">
        <img src="assets/img/creativity.png">
        <p>Creativity</p>
      </div>
    </div>
    <!-- Two -->
    <div class="col-lg-4 mt-5">
      <div class="shadowBox">
        <img src="assets/img/challenge.png">
        <p>Handle Challenging Projects</p>
      </div>
    </div>
    <!-- Three -->
    <div class="col-lg-4 mt-5">
      <div class="shadowBox">
        <img src="assets/img/services.png">
        <p>End to end Services</p>
      </div>
    </div>
  </div>
</div>